<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="https://lh3.googleusercontent.com/CXM8BM08Pkd2gCf08WuVSRxEv3IWOdq3pssEAUeodKR-L2-5ORBIcjNEW1fyhH1Xe1O3aGS25uIshZQrjk3ohjKETET3Kr9VxzEy8EK0wK7L-aUxwopeUggTkT6lMMzOU0Au1O9gQjqjnyUrkjkcKoeJm5AAziin6NQb9brIRvs1Irk72Fjm6XyGg1Obby2eFX4iW8uoTwdbwxa8FD2O7jZ5hqHLGdVhQPZ3Xf59JWC1G-1RzKZbiQ2bsRmafp931EfDc6u_UX5jqf6_vLye9NYrFyRS9XTYnlmLwEQpx9MkBA-DWUZh_1eAHMdrnoXaNQiliWhe0cY_u0-5UrN-8DOTQ2Cj8LhKC9Xqe3J_kPZi6YlvOEZlFyuozDGxrHSHwVID3nuU4aE05_Im59veA1E-VQoVGuixuvXQt3AQatRlQ6GR6ZUd29Xl0seby-F2hqvGOTfq9-smrynkrPYH2a1OagcjWpe1J0tOK2pmDNXvtC_UJpTm5uCAUfzCOziX1GAxzn9poQKfic0QAo4rUiGMSz92w0VynbTEVOq1BW6AHrIoF8i97opEjeAShjR9SY4YOw=s175-no">
<!--      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1> -->
  <!--    <h2>
        {{ site.tagline }}
      </h2> -->
      <p class="lead">{{ site.description }}</p>
      <!--<script>
  (function() {
    var cx = '011284962830807547940:gn0gvrmfqow';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search> -->
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Новости</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

  <!--    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
<!--      <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <p>Работа проведена в ходе исследования (16-05-0069)</p>
  </div>
</div>
